// container principal sem padding
$container-width: 1540;

// contando principal com padding
$container-width-px: 1700px;

$font-bold: "helveticaneuebold";
$font-medium: "helveticaneuemedium";
$font-light: "helveticaneuelight";

$color-w: #ffffff;
$color-b: #00161e;
$color-p1: #55565a;
$color-p2: #838389;
$color-p3: #d7d7d5;

$color-success: #28a745;
$color-danger: #dc3545;
